[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
bokeh = "*"
boto3 = "*"
certifi = "*"
chardet = "*"
click-plugins = "*"
click = "*"
cligj = "*"
ffmpeg-python = "*"
future = "*"
geojson = "*"
geomet = "*"
idna = "*"
munch = "*"
numpy = "*"
pandas = "*"
pyproj = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
six = "*"
tornado = "*"
tqdm = "*"
typing-extensions = "*"
urllib3 = "*"
xlrd = "*"
IPTCInfo3 = "*"
Pillow = "*"
PyYAML = "*"
dagster-slack = "*"
geopandas = "*"
Fiona = "*"
Shapely = "*"
dagster = "*"
dagit = "*"
pyparsing = "*"
Jinja2 = "*"
MarkupSafe = "*"
mercantile = "*"
pykml = "*"
sparqlwrapper = "*"
matplotlib = "==3.2.2"
black = "*"
benedict = "*"
bios = "*"
decouple = "*"
python-dotenv = "*"
