[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==19.3.0"
bokeh = "==2.1.1"
boto3 = "==1.14.17"
certifi = "==2020.6.20"
chardet = "==3.0.4"
click-plugins = "==1.1.1"
click = "==7.1.2"
cligj = "==0.5.0"
ffmpeg-python = "==0.2.0"
future = "==0.18.2"
geojson = "==2.5.0"
geomet = "==0.2.1.post1"
idna = "==2.10"
munch = "==2.5.1.dev12"
numpy = "==1.19.0"
pandas = "==1.0.5"
pyproj = "==2.6.1.post1"
python-dateutil = "==2.8.1"
pytz = "==2020.1"
requests = "==2.24.0"
six = "==1.15.0"
tornado = "==6.0.4"
tqdm = "==4.47.0"
typing-extensions = "==3.7.4.2"
urllib3 = "==1.25.9"
xlrd = "==1.2.0"
dagster = "==0.11.6"
IPTCInfo3 = "==2.1.4"
Pillow = "==8.1.1"
PyYAML = "==5.4"
dagster-slack = "*"

[dev-packages]

[requires]
python_version = "3.8"
