[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geojson = "*"
pandas = "*"
geopandas = "*"
mercantile = "*"
pykml = "*"
pillow = "*"
sparqlwrapper = "*"
bokeh = "*"
python-dotenv = "*"
xlrd = "*"
turfpy = "*"
tqdm = "*"
validators = "*"
boto3 = "*"
pyiiifpres = {git = "https://github.com/giacomomarchioro/pyIIIFpres"}
orjson = "*"
openpyxl = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
